<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishProvider>FTP</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gobite.runasp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>site77619.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>gobite.runasp.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <PublishSettings>
    </PublishSettings>
    <FTPPassiveMode>True</FTPPassiveMode>
    <UsePowerShell>False</UsePowerShell>
    <PublishSettingsFile>
    </PublishSettingsFile>
    <PublishUrl>ftp://site77619.siteasp.net/</PublishUrl>
    <UserName>site77619</UserName>
    <Password>Xd5_@Lh6B8#c</Password>
  </PropertyGroup>
</Project>
